.u-center-text {
  text-align: center;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-padding-small {
  padding: 2rem;
}
.u-padding-medium {
  padding: 6rem;
}
.u-padding-large {
  padding: 10rem;
}
